@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
}
body {
  overflow: hidden;
}
#eco {
  font-family: "Bodoni Moda", serif;
  font-style: normal;
  font-size: xx-large;
}
@media (max-width: 640px) {
  #eco {
    font-size: x-large;
  }
}

button {
  transition: transform 0.2s ease;
  transform: scale(1);
}
button:hover {
  transform: scale(1.01);
}

.navbar-links {
  transition: transform 0.2s ease;
  transform: scale(1);
}
.navbar-links:hover {
  text-decoration: none;
  background-color: transparent;
  transform: none;
  box-shadow: none;
  transform: scale(1.01);
}
